@import url("./profile/Profile.module.css");
@import url("./styles/Header.css");
@import url("./settings/Settings.module.css");
@import url("./signin/Login.module.css");

html {
  scroll-behavior: smooth;
}

/* .app {
} */

* {
  transition: 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: "Inter", Arial, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  transition: 0.3s;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

input {
  transition: 1s ease-in-out;
  background-color: #f3f4f6;
  border: none;
  color: #9ca3af;
  padding: 10px 15px;
  /* border-radius: 20px; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  color: #212529;
  border-radius: 0.5em;
}

input::placeholder {
  color: #9ca3af;
}

input:focus {
  transition: 1s ease-in-out;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

:root {
  --main__block-padding: 18px;
}

.block-style {
  padding: var(--main__block-padding);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1110px;
  margin: 40px 0;
  height: 100%;
}

.main__info-column {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main__profile {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main__profile-face {
  display: flex;
  flex-direction: row;
}

.main__profile-avatar {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80");
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.main__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main__profile-name {
  font-size: 16px;
}

.main__profile-tag {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.main__profile-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__profile-stats-item {
  text-align: center;
}

.main__profile-stats-value {
  font-size: 13px;
  font-weight: bold;
}

.main__profile-stats-name {
  font-size: 12px;
}

.main__destinations {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.main__destinations-title {
  font-size: 16px;
}

.main__destinations-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main__destinations-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.main__destinations-item-image {
  width: 16px;
  height: 16px;
  background-image: url("./images/placeIcon.png");
  background-size: cover;
  background-position: center;
}

.main__destinations-item-name {
  font-size: 14px;
}

.main__tags {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.main__tags-title {
  font-size: 16px;
}

.main__tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.main__tags-item {
  height: calc(30px - 2 * 8px);
  background-color: #e5e7eb;
  color: #374151;
  padding: 8px;
  font-size: 14px;
  border-radius: 12px;
}

.main__posts-column {
  width: 780px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main__post-add-button {
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #374151;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 30px;
}

.main__post-add-button-icon {
  width: 25px;
  height: 25px;
  background-image: url("./images/AddIcon.svg");
  background-size: cover;
  background-position: center;
}

.main__posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
